<p id="notice"><%= notice %></p>

<h1>Tarefas</h1>

<%= content_tag :table, role: :datatable, data: { url: tarefas_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>

<br>

<%= link_to 'New Tarefa', new_tarefa_path %>
